language: node_js
node_js:
  - 14.6
script:
  - npm run lint
  - npm run test
deploy:
  provider: heroku
  api_key:
    secure: "YOUR ENCRYPTED API KEY"
  strategy: git
  github-token: $GITHUB_TOKEN
  app:
    # master: contacts-travis
    branch: master
